<% include partials/header %>

<h1>Campgrounds Page</h1>

<% for(const campground of campgrounds){ %>
    <h4><%= campground.name %></h4>
    <img src="<%= campground.image %>" alt="Campground" />

<% } %>

<% include partials/footer %>
